<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>投保管理</title>
<link rel="stylesheet" type="text/css" href="/static/res/css/theme.css" />
<link rel="stylesheet" type="text/css" href="/static/res/css/style.css" />
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/static/res/css/ie-sucks.css" />
<![endif]-->
<!-- Le styles -->
<link rel="stylesheet" type="text/css" href="/static/res/css/bootstrap.css" />
<!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/bootstrap-ie6.css"/>
    <![endif]-->
<!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/ie.css"/>
    <![endif]-->
<link type="text/css" href="/static/res/css/jquery-ui-1.9.2.custom.min.css"
	rel="stylesheet" />
<link type="text/css" href="/static/res/css/jquery-ui-timepicker-addon.css"
	rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="/static/res/js/html5.js"></script>
    <![endif]-->
    
    
<script type="text/javascript">



</script>
</head>

<body onload="IFrameResize('ifm')" class="body-bg"
	style="padding-right: 20px;">
	<div id="container-fluid">
		<div class="ie6-out">
			<div class="ie6-in">
				<div id="content">
					<div id="box">
						<h3 id="query">保单查询</h3>
						<form id="form" th:action="@{/system/policy/queryPolicyByCondition}" action="${pageContext.servletContext.contextPath }/system/policy.action?method=queryPolicyByCondition" method="post"
							target="ifm">
							<table class="form">
								<tr>
									<td style="border: 0;" colspan="2">&nbsp;保&nbsp;单&nbsp;号&nbsp;&nbsp;:
										<input name="policyNo" id="policyNo" type="text" tabindex="1"
										style="width: 295px;" /><span style="padding-left: 20px;"></span>单证流水号:&nbsp;<input maxlength="20"
										name="documentNo" id="documentNo" type="text" tabindex="1"
										style="width: 140px;" /></td>
								</tr>
								<tr>
									<td style="border: 0;">
									<span style="padding-left: 0px;"></span>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<select name="status"
										colspan="2" style="width: 140px;">
											<option value="">--请选择--</option>
											<option value="1">正常</option>
											<!-- 
											<option value="2">不完整</option>
											<option value="3">无名单</option>
											 -->
											<option value="0">退保</option>
									</select>
									
									<span style="padding-left: 20px;">
											起止时间: <input name="start" id="start" type="text" tabindex="1"
											style="width: 140px;cursor: pointer;" readonly="readonly"/> ~ <input name="end" id="end"
											type="text" tabindex="1" style="width: 140px;cursor: pointer;" readonly="readonly"/> </span>
											
											<!--<span style="padding-left: 30px;"></span>产&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
												<select name="product"
													colspan="2" style="width: 140px;">
											<option value="">--请选择--</option>-->
											
									</select>
											</td>				
								</tr>
								
								<tr>
									
									<td style="border: 0" align="right">
										<button type="reset" class="btn btn-small"
											style="margin-bottom: 5px;">重置</button>
										<button type="submit" class="btn btn-info btn-small"
											style="margin-bottom: 5px;">查询</button>
									</td>
								</tr>
							</table>
						</form>
						<div class="row-fluid">
							<iframe th:src="@{${#request.contextPath+'/system/policy/queryPolicyByCondition'}}" src="system/policy.action?method=queryPolicyByCondition" frameborder="0"
								marginheight="0" marginwidth="0" scrolling="no"
								id="ifm" name="ifm" onload="javascript:IFrameResize('ifm');"
								width="100%"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="/static/res/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/res/js/bootstrap.min.js"></script>
	<!--[if lte IE 6]>
    <script type="text/javascript" src="/static/res/js/bootstrap-ie.js"></script>
    <![endif]-->
	<script type="text/javascript"
		src="/static/res/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript"
		src="/static/res/js/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript"
		src="/static/res/js/jquery-ui-timepicker-zh-CN.js"></script>
	<!-- IFrame高度自适应 -->
	<script type="text/javascript" src="/static/res/js/iframeAutoSize.js"></script>
	<script type="text/javascript">
		var startDateTextBox = $('#start');
		var endDateTextBox = $('#end');

		startDateTextBox
				.datetimepicker({
					timeFormat : 'hh:mm:ss',
					onClose : function(dateText, inst) {
						if (endDateTextBox.val() != '') {
							var testStartDate = startDateTextBox
									.datetimepicker('getDate');
							var testEndDate = endDateTextBox
									.datetimepicker('getDate');
							if (testStartDate > testEndDate)
								endDateTextBox.datetimepicker('setDate',
										testStartDate);
						} else {
							endDateTextBox.val(dateText);
						}
					},
					onSelect : function(selectedDateTime) {
						endDateTextBox.datetimepicker('option', 'minDate',
								startDateTextBox.datetimepicker('getDate'));
					}
				});
		endDateTextBox
				.datetimepicker({
					timeFormat : 'hh:mm:ss',
					onClose : function(dateText, inst) {
						if (startDateTextBox.val() != '') {
							var testStartDate = startDateTextBox
									.datetimepicker('getDate');
							var testEndDate = endDateTextBox
									.datetimepicker('getDate');
							if (testStartDate > testEndDate)
								startDateTextBox.datetimepicker('setDate',
										testEndDate);
						} else {
							startDateTextBox.val(dateText);
						}
					},
					onSelect : function(selectedDateTime) {
						startDateTextBox.datetimepicker('option', 'maxDate',
								endDateTextBox.datetimepicker('getDate'));
					}
				});
	</script>
	<script type="text/javascript" th:if="${param.tip}!=null">
		var msg='${param.tip}';
		if(msg.indexOf("成功")>-1){
			$.message({
				message:msg,
				type:'success',
				time:3000,
				showClose:true
			});
		}else{
			$.message({
				message:msg,
				type:'info',
				time:3000,
				showClose:true
			});
		}
	</script>
</body>
</html>