<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>网点管理</title>
    <link rel="stylesheet" type="text/css" href="/static/res/css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/res/css/style.css"/>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/ie-sucks.css"/>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/static/res/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/res/css/message.css"/>
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/bootstrap-ie6.css"/>
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/ie.css"/>
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/res/js/html5.js"></script>
    <![endif]-->
</head>
<body class="body-bg" style="padding-right: 20px;">
<div id="container-fluid">
    <div class="ie6-out">
        <div class="ie6-in">
            <div id="content">
                <div id="box">
                    <h3 id="adduser">当前网点</h3>
                    <table width="100%" class="form">
                        <tr style="border:0;">
                            <td align="right" width="200" style="border:0px;">网点名称：</td>
                            <td align="left" style="border:0px;"><input type="text" maxlength="20" readonly="readonly" th:value="${website}==null?'':${website.name }" value="${empty(website)?'':website.name }"/>
                            </td>
                        </tr>
                        <tr style="border:0;">
                            <td align="right" style="border:0px;">网点代码：</td>
                            <td align="left" style="border:0px;"><input type="text" maxlength="20"
                                                                        readonly="readonly"
                                                                        th:value="${website}==null?'':${website.code }"
                                                                        value="${empty(website)?'':website.code }"/>
                            </td>
                        </tr>
                        <tr style="border:0;">
                            <td align="right" style="border:0px;">销售渠道代码：</td>
                            <td align="left" style="border:0px;"><input type="text" maxlength="20"
                                                                        readonly="readonly"
                                                                        th:value="${website}==null?'':${website.marketingChannelCode }"
                                                                        value="${empty(website)?'':website.marketingChannelCode }"/>
                            </td>
                        </tr>
                        <tr style="border:0;">
                            <td align="right" style="border:0px;">归属机构名称：</td>
                            <td align="left" style="border:0px;"><input type="text" maxlength="20"
                                                                        readonly="readonly"
                                                                        th:value="${website}==null?'':${website.organization.name }"
                                                                        value="${empty(website)?'':website.organization.name }"/>
                            </td>
                        </tr>
                        <tr style="border:0;">
                            <td align="right" style="border:0px;">所属业务员：</td>
                            <td align="left" style="border:0px;"><input type="text" maxlength="20"
                                                                        readonly="readonly"
                                                                        th:value="${website}==null?'':${website.salemanName }"
                                                                        value="${empty(website)?'':website.salemanName }"/>
                            </td>
                        </tr>
                        <tr style="border:0px;">
                            <td align="right" style="border:0px;">业务员联系方式：</td>
                            <td align="left" style="border:0px;"><input type="text" maxlength="20"
                                                                        readonly="readonly"
                                                                        th:value="${website}==null?'':${website.salemanPhone }"
                                                                        value="${empty(website)?'':website.salemanPhone }"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:0px;"></td>
                            <td style="border:0px;padding-bottom: 10px;">
                                <button class="btn btn-info" th:if="${website}==null" th:onclick="'toUpdate(\'\')'"
                                        onclick="toUpdate(${empty(website)?'':website.id })">修改网点信息
                                </button>
                                <button class="btn btn-info" th:if="${website}!=null" th:onclick="'toUpdate(\''+${website.id}+'\')'"
                                        onclick="toUpdate(${empty(website)?'':website.id })">修改网点信息
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/static/res/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/res/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/res/js/message.js"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="/static/res/js/bootstrap-ie.js"></script>
<![endif]-->
<script>
    function toUpdate(id) {
        window.location.href = "/system/website/toUpdateWebsite?id=" + id;
    }
</script>
<script type="text/javascript" th:if="${param.tip}!=null" th:inline="javascript">
    /*<![CDATA[*/
    var msg = [[${param.tip}]];
    /*]]>*/
    if (msg.indexOf("成功") > -1) {
        $.message({
            message: msg,
            type: 'success',
            time: 3000,
            showClose: true
        });
    } else if (msg == "updateSuccess") {
        $.message({
            message: "修改成功",
            type: 'success',
            time: 3000,
            showClose: true
        });
    } else {
        $.message({
            message: msg,
            type: 'info',
            time: 3000,
            showClose: true
        });
    }
</script>
</body>
</html>

