<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>网点管理</title>
    <link rel="stylesheet" type="text/css" href="/static/res/css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/res/css/style.css"/>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/ie-sucks.css"/>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/static/res/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/res/css/message.css"/>
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/bootstrap-ie6.css"/>
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/static/res/css/ie.css"/>
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/res/js/html5.js"></script>
    <![endif]-->
</head>
<body onload="IFrameResize('ifm')" class="body-bg"
      style="padding-right: 20px;">
<div id="container-fluid">
    <div class="ie6-out">
        <div class="ie6-in">
            <div id="content">
                <div id="box">
                    <h3 id="adduser">网点修改</h3>
                    <form id="form" th:action="@{/system/website/updateWebiste}"
                          action="${pageContext.servletContext.contextPath }/system/website.action?method=updateWebiste"
                          method="post">
                        <table class="form">
                            <tr>
                                <td align="right" width="200" style="border: 0">网点名称：</td>
                                <td style="border: 0"><input type="hidden" id="inputInfo"
                                                             name="area.id" maxlength="20"
                                                             th:value="${website}==null?'':${website.id}"
                                                             value="${empty(website)?'':website.id }"/> <input
                                        style="width: 210px;" type="text" id="inputInfo1"
                                        maxlength="20" name="area.areaName"
                                        th:value="${website}==null?'':${website.name }"
                                        value="${empty(website)?'':website.name }"/></td>
                            </tr>
                            <tr>
                                <td align="right" style="border: 0">网点代码：</td>
                                <td style="border: 0"><input type="text" id="inputInfo2"
                                                             style="width: 210px;" name="area.areaCode"
                                                             th:value="${website}==null?'':${website.code }"
                                                             value="${empty(website)?'':website.code }"/></td>
                            </tr>
                            <tr>
                                <td align="right" style="border: 0">销售渠道代码：</td>
                                <td style="border: 0"><input type="text" id="inputInfo3"
                                                             style="width: 210px;" name="area.saleCode"
                                                             th:value="${website}==null?'':${website.marketingChannelCode }"
                                                             value="${empty(website)?'':website.marketingChannelCode }"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="border: 0">归属机构名称：</td>
                                <td style="border: 0"><select id="inputInfo4"
                                                              style="width: 210px;" name="area.belongtoCode">
                                    <!-- <option value="">--请选择--</option>-->
                                    <div th:if="${organizationList}!=null">
                                        <option th:each="organization:${organizationList}"
                                                th:value="${organization.id }" value="${organization.id }"
                                                th:text="${organization.name }">${organization.name }
                                        </option>
                                    </div>
                                </select></td>
                            </tr>
                            <tr>
                                <td align="right" style="border: 0">归属业务员：</td>
                                <td style="border: 0"><input type="text" id="inputInfo5"
                                                             style="width: 210px;" name="area.belongtoUser"
                                                             th:value="${website}==null?'':${website.salemanName }"
                                                             value="${empty(website)?'':website.salemanName }"/></td>
                            </tr>
                            <tr>
                                <td align="right" style="border: 0">业务员联系方式：</td>
                                <td style="border: 0"><input type="text" id="inputInfo6"
                                                             style="width: 210px;" name="area.userTel"
                                                             th:value="${website}==null?'':${website.salemanPhone }"
                                                             value="${empty(website)?'':website.salemanPhone }"/></td>
                            </tr>
                            <tr>
                                <td style="border: 0"></td>
                                <td style="border: 0; padding-bottom: 10px;">
                                    <button type="reset" onclick="location.href='/system/website/queryWebsite'"
                                            class="btn">返回
                                    </button>
                                    <button type="reset" class="btn">重置</button>
                                    <button type="submit" id="updateArea" class="btn btn-info">
                                        确认修改网点
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/static/res/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/res/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/res/js/formValidator.js"></script>
<script type="text/javascript" src="/static/res/js/formValidatorRegex.js"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="/static/res/js/bootstrap-ie.js"></script>
<![endif]-->
<!-- IFrame高度自适应 -->
<script type="text/javascript" src="/static/res/js/iframeAutoSize.js"></script>
<script type="text/javascript" src="/static/res/js/message.js"></script>
<script type="text/javascript">
    function GetInitConfigOptions(form, submitId) {
        return {
            formid: form,
            onerror: function (msg) {
                $.message({
                    message: msg,
                    type: 'info',
                    time: '3000',
                    showClose: true
                });
                //alert("注意：" + msg);
            },
            submitonce: true,//是否验证通过后，表单立刻提交
            submitbutton: submitId,//提交按钮id或对象
            isformpost: false,
            tipcss: {
                //(ajax)加载处理
                loadCss: "",
                //获得焦点时的样式
                focusCss: "",
                //提示
                noticeCss: "",
                //成功
                successCss: "",
                //失败
                errorCss: "",
                //默认状态
                defaultCss: ""
            },
            onsuccess: function () {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/system/website/updateWebsite",
                    data: $("#form").serialize(),
                    success: function (data) {
                        if (data != null) {
                            if (data.result == true) {
                                window.location.href = "/system/website/queryWebsite?tip=updateSuccess";
                            } else {
                                $.message({
                                    message: data.tip,
                                    type: 'error',
                                    time: '3000',
                                    showClose: true
                                });
                            }
                        } else {
                            $.message({
                                message: "未知错误",
                                type: 'error',
                                time: '3000',
                                showClose: true
                            });
                            //alert("未知错误");
                        }
                    },
                    error: function () {
                        $.message({
                            message: "系统繁忙，请稍后再试",
                            type: 'error',
                            time: '3000',
                            showClose: true
                        });
                        //alert("系统繁忙，请稍后再试");
                    }
                });
            }
        };
    }

    $(document).ready(
        function () {

            $.formValidator.initConfig(GetInitConfigOptions("form",
                "updateArea"));

            $("#inputInfo1").formValidator({
                tipid: "tip1"
            }).inputValidator({
                min: 1,
                onerror: "网点名称为空,请确认"
            });

            $("#inputInfo2").formValidator({
                tipid: "tip2"
            }).inputValidator({
                min: 6,
                onerror: "网点代码为6位,请确认"
            }).regexValidator({
                regexp: RegexEnum.notempty,
                onerror: "网点代码不能为空"
            });

            $("#inputInfo3").formValidator({
                tipid: "tip3"
            }).inputValidator({
                min: 4,
                onerror: "销售渠道代码为4位,请确认"
            }).regexValidator({
                regexp: RegexEnum.notempty,
                onerror: "销售渠道代码不能为空"
            }).regexValidator({
                regexp: RegexEnum.integer_Z,
                onerror: "销售渠道代码格式不正确,必须为数字"
            });

            $("#inputInfo4").formValidator({
                tipid: "tip4"
            }).inputValidator({
                min: 1,
                onerror: "所属机构名称为空,请确认"
            });

            $("#inputInfo5").formValidator({
                tipid: "tip5"
            }).inputValidator({
                min: 2,
                onerror: "归属业务员姓名不能小于2位,请确认"
            }).regexValidator({
                regexp: RegexEnum.notempty,
                onerror: "网点代码不能为空"
            }).regexValidator({
                regexp: RegexEnum.chinese,
                onerror: "归属业务员代码格式不正确,必须为中文"
            });

            $("#inputInfo6").formValidator({
                tipid: "tip6"
            }).inputValidator({
                min: 1,
                onerror: "联系方式不能为空"
            }).regexValidator({
                regexp: RegexEnum.integer_Z,
                onerror: "联系方式格式不正确,必须为数字"
            }).regexValidator({
                regexp: RegexEnum.mobile,
                onerror: "联系方式，为移动电话，必须11位"
            });
        });
</script>
<script type="text/javascript" th:if="${website}!=null" th:inline="javascript">
    /*<![CDATA[*/
    var id = [[${website.organization.id}]];
    /*]]>*/
    $("#inputInfo4>option").each(function () {
        if ($(this).val() == id) {
            $(this).prop("selected", true);
        }
    });
</script>
</body>
</html>

